html,
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  background-color: rgb(24, 24, 24);
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

canvas {
  display: block;
}

p {
  color: rgb(255, 255, 244);
  opacity: 80%;
  text-align: left;
  font-size: 1rem;
}

a {
  color: rgb(255, 255, 244);
}

.contents-wrapper {
  position: fixed;
  top: 10vh;
  left: 2vw;
}

.contents-list {
  list-style-type: none;
}

.contents-list > a {
  padding: 10px;
  color: rgb(255, 255, 244);
  opacity: 80%;
}

.about-wrapper {
  position: fixed;
  top: 20vh;
  left: 10vw;
  padding-right: 10vw;
}

.about-wrapper > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-width: 500px;
}

.gallery-wrapper {
  position: relative;
  text-align: center;
  top: 20vh;
}

.gallery-contents{
  width: 50vw;
  position: relative;
  top: 10vh;
  left: 10vw;
  list-style: none;
}

.gallery-wrapper > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-width: 70vw;
  padding-bottom: 80px;
}
